/*Authors: Matthew Fansler*/
/*Description: Below is the css for the order form, and invoice htmls*/
/*Source:Css based on SmartphoneProducts2 & 3, Assignment 2*/

img{
    height:300px; 
    width:300px; 
}

body{
    background: url(./images/bottles.jpg); /*Background image is from the ./public/images folder*/
    font-family:'Open Sans',sans-serif; /*font is Open-Sans*/
}
/*Navigation bar*/

.nav ul {
    margin: 0;
  }
  
  .nav li {
    display: inline;
    font-size: 25px;
  }
  
  .nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
  }
/*main*/

main{
  display: flex; 
  flex-flow: row wrap; 
  justify-content: space-around; 
  color: white; 
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid white
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-header {
  background-image: url("images/party.gif"); /*Header gif is from the ./public/images folder*/
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 20px;
}

/*titles*/
.title-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Metal Mania";;
    font-weight: normal;
    color: white;
  }

h1,h2{ 
    color: white; 
    text-align: center
}