body {
  width: 880px;
  margin: 0 auto;
  color: orchid;
  
}

body {
  font-size: large;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url(./images/Background.jpg);
  background-size:cover;
  text-decoration-color: orchid;
}

h1,h2 {
  font-style: italic ;
  text-align: center;
  color: orangered;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
}
table {
 border: 10px;
 border-color: black; 
align-items: center;
color: orchid;
}