/*Authors: Joshua Jerome and Matthew Fansler*/
/*Below is the css for the order form and service page htmls*/
/*css based on SmartphoneProducts2/SmartphoneProducts3*/
/* Image Specifications */ 

img{
    height:200px; /*height for all images is 200px*/
    width:200px; /*width for all images is 200px*/
}

/* Styling the services display */
main{
    display: flex; /*set flex container on items, how item will grow/shrink in container*/
    flex-flow: row wrap; /*will wrap items in a row*/
    justify-content: space-around; /*browser distributes items so space around objects are even */
    color: ivory; /*color of text is ivory*/
}

/*Setting css for the body*/
/* Font from BrowserHistory2*/
body{
    background: url(./images/background.jpg); /*Background image is from the ./public/images folder*/
    font-family:'Open Sans',sans-serif; /*font is Open-Sans*/
}

/* Typography */

h1,h2{ /*For text in the <h1> and <h2> headers*/
    color: ivory; /*text color is ivory*/
    text-align: center /*align text to center*/
}