/*Authors: Joshua Jerome and Matthew Fansler*/
/*Below is the css for the order form, and invoice htmls*/
/*Css based on SmartphoneProducts2 & 3*/

img{
    height:300px; 
    width:300px; 
}
main{
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-around; 
    color: white; 
}
body{
    background: url(./images/background.jpg); /*Background image is from the ./public/images folder*/
    font-family:'Open Sans',sans-serif; /*font is Open-Sans*/
}
h1,h2{ 
    color: white; 
    text-align: center
}